# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Translations
*.mo
*.pot

# Virtual environments
venv/
ENV/
env/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE/editor configs
.vscode/
.idea/
*.swp
*.swo

# Logs and databases
*.log
*.sqlite3

# macOS
.DS_Store

# PyCharm
.idea/
